
body{
    text-align: center;
}
#lego-1{
    background-image:url("https://bit.ly/2C1a9Ww");
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    color: aliceblue;
    justify-content: center;
    text-align: center;
}
#lego-2{
    justify-content: center;
    text-align: center;
    text-decoration-color: white;

}
#lego-2 h1 p{
 color: white;
}
#lego-3 {
background-image: url(https://bit.ly/332TX3b);
height: 30vh;
color: white;
justify-content: center;
text-align: center;

}