
body{
    text-align: center;
    background-color: azure;
}
#lego-1{
    background-image:url("https://bit.ly/2C1a9Ww");
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    color: aliceblue;
    justify-content: center;
    text-align: center;
    padding-top: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
}
#lego-2{
    justify-content: center;
    text-align: center;
    text-decoration-color: white;
    margin-top: 15%;
    margin-bottom: 15%;

}
#lego-2 h1 p{
 color: white;
}
#lego-3 {
background-image: url("../images/assets/backgrounds/s_image.jpg");
height: 30vh;
color: white;
justify-content: center;
text-align: center;
margin-bottom: 15%;

}
#lego-5 img{
    height: px;
    width: px;
    margin-top: 5%;
    margin-left: ;
    padding-top: 0ch;
    
    
}
 #lego-6{
     background-size: cover;
     background-image: url("../images/assets/backgrounds/c_image.jpg");
     height: 150vh;
    margin-top: 5%;
     text-align: center;
     justify-content: center;
 }
 #lego-4-2{
     display: none;
     color: black;

 }
 #form1{
     width: 0 auto;
     height: 100px;
 }
 #name{
     width: 500px;
     height: 50px;
 }
 #email{
     width: 500px;
     height: 50px;
 }
 #log{

 }
 .text-wrapper {

 }
#lego-8{
    margin-top: 5%;
}
#lego-9{
    margin-top: 5%;
}
#portfolio{
    margin-bottom: ;
    margin-top: 5%;
    
}

.btn {
    margin-left: 15%;
    background-color:transparent;
    border-color: white;;
    
}
#name {
    border-color: white;
    
}
#email{
    border-color: white;
}
#name :placeholder-shown{
 color: white;   
}
#email :placeholder-shown{
    color: #000;

}
#lego{
margin-top: 8%;
}
#submit{

}
#name{
    margin-left: 10%;
    margin-top: 5%;
    margin-right: 50%;

}
#email{
    margin-right:20%;
    margin-left: 80%;
    margin-top: ;
    margin-bottom: 20%;
}
#message{
    margin-left: 5%;
    margin-bottom: 10%;
}
