body{
    text-align: center;
}
#lego-1{
    background-image:url("https://bit.ly/2C1a9Ww");
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    color: aliceblue;
    justify-content: center;
    text-align: center;
}
#lego-2{
    color: rgb(185, 223, 238);
    justify-content: center;
    text-align: center;
}